@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer utilities{
    .hanken {
        font-family: "Hanken Grotesk", serif;
      }
    .inter{
      font-family: "Inter", serif;
    }
      .headerBg{
        background:url('../image/header.png');
      }

  }